body{
    background-color: burlywood;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    font-size: 20px;
}
