@charset "UTF-8";
body{
    background-color: lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: azure;
}
h2{
    color: bisque;
}
p{
    text-align: justify ;
}